@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

.VermelhoCarmesim {color:#BB5049,#A22238,#5A1565}
.AzulCobalto {color: #79A8D5,#4F52A4}
.Verde {color: #7CBC60, #3A7520}
.Amarelo{color:#FCB94D,#BE5A30}
.Marrom {color:#D9CAB3,#6D4837}
.CinzaEscuro {color: #2F2F2F}
.CinzaClaro {color: #D3D3D3}
.Preto {color: #000000}
.Branco {color: #FFFFFF,}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: auto;
    background-color: #2F2F2F;
}

h1{
    font-family:'goblin one';
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D4837;
    text-align: Center;
    padding: 0px;
    width: 100%;
    height: 180px;
}

header > div > h1 {
    font-family:'goblin one';
    /*font-size: 2.5em;*/
    font-size:clamp(2.5em, 3vw, 4em);;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF,#FFFFFF, #C1A3C9,#89799C);
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 0px;
}

header > div > h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0px;
}


header > div > h2 > span.textCar{
    color:#BB5049;
    -webkit-text-stroke-color: #A22238;
}

header > div > h2 > span.textCob{
    color:#79A8D5;
    -webkit-text-stroke-color: #4F52A4;
}

nav{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: #D9CAB3;
    width: 100%; 
    border: #7CBC60 solid 5px;
    border-left-width: 0px;
    border-right-width: 0px;
}

nav > a {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color:#7CBC60;
    background-color: #3A7520;
    border-radius: 10px;
}

nav a:hover{
    color:#FFFFFF;
    background-color: #7CBC60;
}

.divBorda{
    height: 5px;
    background-color: #7CBC60;
}

main{
    text-align: center;
    margin-top: 20px;
}

main > h1{
    font-size:clamp(30px, 3vw, 2.5em);
    font-family: 'Goblin One';
    background: linear-gradient(to bottom, #FCB94D, orange, #BE5A30);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.h1red{
    font-size:clamp(30px, 3vw, 2.5em);
    font-family: 'Goblin One';
    background: linear-gradient(to bottom, #BB5049,#A22238,#5A1565);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

main  h2,div.greenBox h1{
    font-family: 'Goblin One';
    background: linear-gradient(to bottom, #FFFFFF,#FFFFFF, #C1A3C9,#89799C);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
} 

main > div > .dialogBox{
    background-color: #D3D3D3;
    border: 5px solid #6D4837;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    overflow-wrap: break-word;
}

.areaImg{
    max-width: 100%;
    height: auto;
}

.areaTexto h1{
    font-family: 'Goblin One';
    background: linear-gradient(to bottom, #FFFFFF,#FFFFFF, #C1A3C9,#89799C);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

div.trailerBox{
    max-width: 650px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    background-color: #D9CAB3;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #7CBC60;
    justify-content: space-around;
    align-items: center;

}

div.greenBox{
    max-width: 750px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background-color: #D9CAB3;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #7CBC60;
    padding: 30px;
    justify-content: space-around;
    text-align: center;
}

div.greenBox h2,div.greenBox h1{
    margin: 10px;
}

.divCount > p{
    font-size: larger;
    padding: 10px;
}

.marginDiv{
    margin: 0px 50px ;
}